cloudflare:
  apiKey: YOUR_API_KEY
  email: YOU@kubeadm-one.example.org

github:
  # Github Oauth app registration for dex: https://dex.kubeadm-one.example.org/callback
  clientID: YOUR_GITHUB_CLIENT_ID
  clientSecret: YOUR_GITHUB_CLIENT_SECRET
  organization: YOUR_GITHUB_ORGANIZATION_TO_USE_FOR_AUTHENTICATED_GROUP_ACCESS

dex:
  clients:
    # These secrets should be randomly generated strings
    alertmanager:
      secret: xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
      session: xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
    gangway:
      secret: xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
      session: xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
    grafana:
      secret: xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
      session: xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
    kibana:
      secret: xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
      session: xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
    prometheus:
      secret: xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
      session: xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
    oidcdebugger:
      secret: xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
      session: xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
